<!DOCTYPE html>
<html>

<body>

    <h1>Extract Details with Natural Language Understanding</h1>
    <p>Use the search below to analyze the text contained at a URL of your choice</p>

    <form action="/analyze" method="post">
        <!-- Capture the user input to be sent to the flask server  -->
        <input type="text" id="input-url" name="webpage">

        <!-- Insert a button to submit the request to the flask server -->
        <input type="submit" value="Search URL">
    </form>

    <br/>
    <a href="/logout">Click Here to Logout</a>

</body>

</html>